<!DOCTYPE html>
<html>
	<head>
		<title>NEW&#46;EJS</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
	<body>
    <div class="container">
      <div class="jumbotron"><h1>NEW&#46;EJS</h1></div>
    </div> <!-- Close container -->    
    <div class="container">
      <div><code>&lt;&#37; include &#46;/partials/header &#37;&gt;</code></div>	
      <div><code>&lt;&#37; include &#46;/partials/footer &#37;&gt;</code></div>	
      <p></p>
      <a class="btn btn-med btn-warning" href="../app_js.html#index">Back to APP&#46;JS</a>
      <a class="btn btn-med btn-success" href="../restful_routes.html">Back to table</a>
    </div> <!-- Close container -->
	</body>
</html>